<div class="inner cover">
  <h1 class="cover-heading">NED Features</h1>
  <p>
    <ul>
      <li>Node.js - Webscale async event-driven hyberbole-laden awesomeness</li>
      <li>Express - Fast, unopinionated, minimalist web framework for Node.js</li>
      <li>Handlebars - Minimal semantic templates on steroids</li>
      <li>Docker - World's leading container platform</li>
    </ul>
  </p>

</div>